.heading {
  font-family: Verdana;
  font-weight: Normal;
  font-size: 50px;
  color: White;
  text-align: center;
}

.download {
  font-family: Verdana;
  color: Aquamarine;
  font-size: 16px;
  text-decoration: underline;
}

#midHeading {
  color: White;
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
}

#info {
  font-family: Verdana;
  font-size: 21px;
  color: Gray;
}

#excursion {
  font-family: Verdana;
  text-align: right;
  color: Gray;
}

.entire {
  background-color: Black;
  text-align: center;
}
